<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Reservar cita médica</h2>
            <p>Reserva tu cita web para la Clínica fe de la Solidaridad.</p>
        </div>

        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor, ingrese al menos 4 caracteres">
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Correo" data-rule="email" data-msg="Por favor, ingrese un correo válido">
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Teléfono" data-rule="minlen:4" data-msg="Por favor, ingrese al menos 4 caracteres">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <select name="department" id="department" class="form-select">
              <option value="">Seleccione Especialidad</option>
              <option value="Department 1">Neumología</option>
              <option value="Department 2">Medicina General</option>
              <option value="Department 3">Cardiología</option>
            </select>
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <select name="doctor" id="doctor" class="form-select">
              <option value="">Seleccione Médico</option>
              <option value="Doctor 1">David Alberto Vidal Martinez</option>
              <option value="Doctor 2">Marco Antonio Ramos Sanchez</option>
              <option value="Doctor 3">Victor Israel Cabrera Serna</option>
            </select>
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje (Opcional)"></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu cita ha sido registrada exitosamente. ¡Gracias!</div>
            </div>
            <div class="text-center"><button type="submit">Reservar cita</button></div>
        </form>

    </div>
</section>
<!-- End Appointment Section -->