<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Nuestras Especialidades</h2>
            <p>Conoce las diferentes especialidades que tenemos en nuestra clínica.</p>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiología</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurología</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Medicina General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Pediatría</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Cuidado de ojos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Gastroenterología
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Endocrinología
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Nutrición
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-9">Otorrinolaringología
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-10">Urología
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Cardiología</h3>
                                <p class="fst-italic">Estamos especializados en el diagnóstico y tratamiento de las enfermedades que afectan el corazón y la circulación</p>
                                <p><b>Nuestros cardiólogos</b></p>
                                <p>Se centran en el diagnóstico y tratamiento de problemas de salud relacionados con el corazón, las arterias y venas que componen el sistema cardiovascular. Nos interesa el estudio, diagnóstico, tratamiento y prevención de
                                    las enfermedades cardiovasculares</p>
                                <p><b>Procedimientos Frecuentes</b></p>
                                <p>
                                    Los procedimientos más frecuentes que realiza un cardiólogo son:
                                </p>

                                <ul>
                                    <li>Lectura de electrocardiograma.</li>
                                    <li>Riesgo quirúrgico (para determinar el riesgo operatorio antes de una cirugía).</li>
                                    <li>Monitoreo ambulatorio de la presión arterial (MAPA), para determinar si un paciente es hipertenso.</li>
                                    <li>Test de Holter (para detectar arritmias cardiacas).</li>
                                    <li>Prueba de esfuerzo: Para determinar si existen signos de insuficiencia coronaria (isquemia cardiaca).</li>

                                </ul>

                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Neurología</h3>
                                <p class="fst-italic">El neurólogo es el especialista en el diagnóstico y tratamiento de las enfermedades que afectan el sistema nervioso.</p>
                                <p>Las enfermedades más frecuentes que requieren atención del neurólogo son: cefalea, migraña, epilepsia, convulsiones, trastornos del sueño, enfermedad de Parkinson, enfermedad de Alzheimer, desordenes cerebro vasculares,
                                    neuralgias, entre otras. Los procedimientos más frecuentes que realiza un neurólogo son: lectura de electroencefalograma, electromiografía, entre otros.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Medicina General</h3>
                                <p class="fst-italic">La Medicina General o también llamada Medicina Interna, es la especialidad conocida por el público, ya que otorga orientación al paciente de forma integral en su aspecto físico, mental y social.</p>
                                <p><b>Síntomas comunes</b></p>
                                <p> Los síntomas que más registran los pacientes que se realizan un chequeo en Medicina General son:
                                </p>
                                <ul>
                                    <li>Dolor de cabeza</li>
                                    <li>Inflamación</li>
                                    <li>Presencia de contracturas</li>
                                    <li>Fatiga</li>
                                    <li>Insuficiencias cardíacas</li>
                                    <li>Malestar ocular</li>

                                </ul>
                                <p><b>Enfermedades recurrentes</b></p>
                                <p> Las complicaciones o enfermedades que tratamos con mayor frecuencia en Medicina General son:</p>
                                <ul>
                                    <li>Lumbalgia</li>
                                    <li>Hipertensión arterial</li>
                                    <li>Diagnóstico de embarazo</li>
                                    <li>Infecciones respiratorias</li>
                                    <li>Alergias respiratorias</li>
                                    <li>Trastornos menstruales</li>
                                    <li>Desarrollo puberal</li>
                                    <li>Infecciones</li>

                                </ul>
                                <p><b>Hora de prevenir</b></p>
                                <p> Visita nuestra especialidad de Medicina General</p>
                                <ul>
                                    <li>Atención del paciente</li>
                                    <li>Chequeo</li>
                                    <li>Tratamiento o derivación del paciente</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Pediatría</h3>
                                <p class="fst-italic">La especialidad de Pediatría trata las enfermedades de bebés y niños, así como el estudio del crecimiento normal</p>
                                <p>Nuestros especialistas en Pediatría, cuentan con la preparación necesaria para detectar las anomalías congénitas y tratarlas cuando sea posible. También se ocupan de enfermedades infecciosas cuya frecuencia es más elevada
                                    en la infancia. Entre éstas se incluyen infecciones del oído, paperas, sarampión, tos ferina o poliomielitis.</p>
                                <p><b>Hora de prevenir</b></p>
                                <p> Estos son los servicios que brindamos en el área de Pediatría</p>
                                <ul>
                                    <li>Atención integral a los recién nacidos</li>
                                    <li>Urgencias pediátricas</li>
                                    <li>Prevención de enfermedades del menor</li>
                                    <li>Vacunas</li>
                                    <li>Consultas externas de Pediatría</li>
                                    <li>Hospitalización neonatal</li>
                                </ul>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Oftalmología</h3>
                                <p class="fst-italic">La oftalmología es la especialidad médica que se ocupa del estudio de los ojos, lo cual incluye el tratamiento de las enfermedades y los defectos típicos que padece la visión, tal es el caso del astigmatismo y estrabismo.</p>
                                <p>Específicamente, la oftalmología está enfocada en las cuestiones que hacen al globo ocular, como también a las cuestiones relacionadas con esta área, comprendiendo la musculación, los parpados y también cuando lloramos.
                                    En Clínica fe de la Solidaridad contamos con un excelente equipo profesional y espacios acondicionados que le garantizaran comodidad.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-6">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Gastroenterología</h3>
                                <p class="fst-italic">La Gastroenterología es la rama de la medicina que se ocupa del estudio del aparato digestivo y de sus enfermedades.</p>
                                <p>Los médicos del Departamento de Gastroenterología de la Clínica fe de la Solidaridad se encuentran en permanente formación y actualización, y cuentan con la preparación necesaria para actuar en todas las ramas de la especialidad
                                    para ofrecer la mejor atención y calidad a los pacientes.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-6.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-7">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Endocrinología</h3>
                                <p class="fst-italic">Un endocrinólogo es un médico especializado que diagnostica las enfermedades que afectan las glándulas endocrinas. </p>
                                <p>Sabe cómo tratar las condiciones que, con frecuencia, son complejas e incluyen a varios sistemas y estructuras dentro del cuerpo. Su médico principal le refiere a un endocrinólogo cuando usted tiene un problema en el sistema
                                    endocrino.
                                </p>
                                <p>Los médicos del Departamento de Endocrinología de la Clínica fe de la Solidaridad se encuentran en permanente formación y actualización, y cuentan con la preparación necesaria para actuar en todas las ramas de la especialidad
                                    para ofrecer la mejor atención y calidad a los pacientes.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-7.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-8">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Nutrición</h3>
                                <p class="fst-italic">La Nutrición es la especialidad médica que estudia la alimentación humana y su relación con los procesos químicos, biológicos y metabólicos, así como su relación con la composición corporal y estado de salud humana.</p>
                                <p>La Nutrición comprende el estudio de los alimentos, los nutrimentos, su clasificación, digestión así como su asimilación, metabolismo y excreción. Establece la necesidad de los nutrimentos y su requerimiento en situaciones
                                    especiales, así como su relación con la salud y la enfermedad. Conoce a los especialistas que conforman el equipo de Nutrición de la Clínica fe de la Solidaridad, profesionales a tu servicio.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-8.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-9">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Otorrinolaringología</h3>
                                <p class="fst-italic">El otorrinolaringólogo de la Clínica fe de la Solidaridad es el médico especializado en las enfermedades de la cabeza y del cuello.</p>
                                <p>Dentro de la cabeza, aquellas que tienen que ver con la garganta, la nariz y los oídos. La palabra "otorrinolaringólogo", nombre extremadamente raro, difícil de decir y de recordar, está compuesta de tres términos griegos
                                    y uno latino. Oto-oído, rino-nariz, larin-laringe, gólogo-persona que se dedica a esta ciencia.</p>
                                <p>En Clínica fe de la Solidaridad contamos con un excelente equipo profesional y espacios acondicionados que le garantizaran comodidad.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-9.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-10">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Urología</h3>
                                <p class="fst-italic">El otorrinolaringólogo de la Clínica fe de la Solidaridad es el médico especializado en las enfermedades de la cabeza y del cuello.</p>
                                <p>La Urología es la rama o especialidad medico-quirúrgica que previene, diagnostica y trata las afecciones médicas y quirúrgicas del aparato urinario y retroperitoneo en ambos sexos, de los genitales y el sistema reproductor
                                    en el hombre, y algunos problemas ginecológicos</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-10.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Departments Section -->