<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Clínica Fe de la Solidaridad</h1>
        <h2>Líderes a nivel internacional en atención médica</h2><br>
        <a routerLink="/aboutus" class="btn-get-started scrollto">Empezar</a>
    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>¿Por qué elegir ESolidaridad?</h3>
                        <p>
                            Además de tener una sede ambulatoria no COVID, nuestra sede en Surco cuenta con equipos de imágenes de última generación.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Seguir leyendo <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Experiencia</h4>
                                    <p>Todo nuestro equipo de profesionales cuenta con una amplia experiencia y es experto en cada uno de los tratamientos que ofrecemos</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>La calidad</h4>
                                    <p>Nosotros preferimos utilizar materiales de primera gama, darle a cada tratamiento el tiempo que toca, y cuidar a nuestro equipo de profesionales. Con todo ello garantizamos la calidad de nuestro servicio y la durabilidad
                                        de nuestros tratamientos</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-cpu"></i>
                                    <h4>Tecnología más avanzada</h4>
                                    <p>En Medilab encontrarás la tecnología de vanguardia y las últimas innovaciones en el campo de la odontología.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .content-->