<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Login </h2>


            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://cdn-icons-png.flaticon.com/512/848/848043.png" id="icon" alt="User Icon" style="padding: 5px;height: 120px;width: 120px;" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="Ingresar">
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="#">Registrarme</a>
            </div>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">¿Olvidaste tu contraseña?</a>
            </div>


        </div>
    </div>
</section>