<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="section-title">
        <h2>Sobre Nosotros</h2>

    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Más de 50 años de experiencia</h3>
                <p>Hacemos énfasis en el mejoramiento continuo a través de la educación, la docencia y la investigación</p>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Ambiente inclusivo</a></h4>
                    <p class="description">La diversidad y la inclusión son fundamentales para la misión de la Clínica fe de la Solidaridad de brindar atención excelente y culturalmente relevante en un ambiente de aceptación a pacientes de una gran variedad de entornos y de
                        crear un ambiente laboral inclusivo
                    </p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Reconocimiento Internacional</a></h4>
                    <p class="description">Clinica fe de la Solidaridad está clasificada entre los mejores en cuanto a calidad con más frecuencia que cualquier otra organización de atención médica</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Seguridad y confianza</a></h4>
                    <p class="description">Nos comprometemos con la calidad, seguridad, humanidad y existencia de nuestros pacientes en la clínica</p>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="fas fa-user-md"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Doctors</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="far fa-hospital"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Departments</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-flask"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Research Labs</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Awards</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Counts Section -->